/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#root {
    background-color: #fff6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#map-selector {
    top: 95px;
    left: .5rem;
    min-width: 120px
}

#quality-selector {
    top: 65px;
    left: .5rem;
    min-width: 120px
}

.ol-control {
    position: absolute;
    background-color: #fff6;
    border-radius: 4px;
    padding: 2px
}
